.sobreoscar
    {
        background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
  
                    
      
        margin: 25px;
    }

.sobreoscar1
    {
        display: flex;       
        flex-wrap: wrap; 
        gap: 30px;              
        margin-bottom: 50px;
        padding: 20px;
    }

.sobreoscar2
    {
        display: flex;
        flex-direction: column; 
        gap: 15px;             
        flex: 1; 
        background-color: #f5f5f3;   
        border-radius: 20px;          
    }


.foto-oscar
    {
        width: auto;
        height: auto;
        border-radius: 20px;  
    }

h4 
    {
        text-align: center;
        margin: 20px;
        Font-size: 60px;
    }

h5
    {
        text-align: right;
        margin: 20px;
        Font-size: 60px;
    }

h6
    {
        color: #1a2e40;
        font-size: 50px;
        margin: 0;
    }

.divtotal
    {
        display: flex;
        gap: 170px;      
        justify-content: center;
    }


.anosdemercado, .projetosconcluidos, .clientesatisfeitos, .premiosganhos
    {
        background-color: #22252a;
        border-radius: 20px;
        padding: 5px;
    
        height: auto;
        width: 705px;
    }
    
.anosdemercado, .clientesatisfeitos
    {
        margin-bottom: 80px;
    }

#escrita
    {
        color:#f5f5f3;
        font-size: 32px;
    }

.mini-icon
{
    height: auto;
        width: 40px;
        border-radius: 20px;
}

#escrita
{
    text-align: center;
    color: #22252a;
    font-size: 70px;
}
.tituloh6
{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
